.internship-title {
  font-size: 1.5em;
  color: #3d6ab3;
  font-family: "Times New Roman", Times, serif;
}
.professor {
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}
.other-details {
  font-size: 0.85em;
}
.title {
  color: #575759;
}
.description .info {
  font-size: 0.9em;
}
