#profile {
  .image-container {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  // .overlay {
  //   width: 20vh;
  //   position: absolute;
  //   opacity: 0;
  //   transition: 500ms ease-in-out;
  //   background-color: rgb(173, 166, 166);
  // }
  // .image-container:hover .overlay {
  //   opacity: 0.5;
  //   cursor: pointer;
  // }
  // #icon {
  //   position: absolute;
  //   top: 40%;
  //   left: 40%;
  // }
  .resume-section {
    display: none;
    width: 0;
    height: 0;
  }

  .info {
    font-weight: bold;
    font-size: larger;
  }
}
