.badge-danger {
  background-color: #fae1d9;
}

.badge-primary {
  background-color: #dfe2f2;
}

.badge-success {
  background-color: #c7f0c2;
}

.badge-warning {
  background-color: #ededaf;
  color: white;
}

thead {
  background-color: #f0f0ff88;
  color: rgb(0, 0, 83);
}

/* #filter-box {
  position: sticky;
  top: 6em;
  height: 80vh;
  font-size: 1em;
}
 */

button.close {
  outline: none;
  border: none;
  box-shadow: none;
}
